.banner {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/index1.jpg");
  background-size: cover;
  height: 54.375rem;
  h2 {
    @include font-xxl;
  }
  p {
    @include font-lg;
  }
  a {
    font-size: 1.75rem;
    line-height: 42px;
    max-width: 21.875rem;
    width: 100%;
    padding: 0.75rem 0;
    &:hover {
      color: #fff;
      background: #ffffff4d;
    }
  }
}
