footer{
  .logo{
    max-width:8rem;
  }
  .copyright{
    font-size: 0.875rem;
    line-height: 21px;
  }
  .footer-nav{
    @include font-md;
    @include mobile{
      display: none;
    }
    li{
      margin-left: 36px;
    }
    nav-link:hover{
      color: $link-hover-color !important;
    }

  }
}