.pagination{
  .page-link{
    color: #000;
    border:1px solid white;
    padding: 0 10px;
    @include font-md;
    &:hover{
      color: $primary;
      background: #fff;
      border-bottom: 1px solid $primary;
    }
  }
}