.products{
  .card{
    margin-bottom: 58px;
    .card-img-top{
      height: 255px;
      object-fit: cover;
      @include mobile{
        height: 150px;
      }
    }
    .special-price{
      text-decoration: line-through;
    }
    .favorite-icon:hover, .cart-icon:hover{
      color: $link-hover-color !important;
    }
  }
  
  @include mobile{
    .card{
      margin-bottom: 1.875rem;
      .card-title{
        @include font-md;
      }
    }

  }


}