.products{
  .card{
    margin-bottom: 58px;
    img{
      height: 255px;
      object-fit: cover;
    }
    .favorite-icon:hover, .cart-icon:hover{
      color: $link-hover-color !important;
    }
  }


}