.top-product{
  .card{
    background-color: transparent;
    a{
      img{
        height: 540px;
      }
      .mask{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.3);
        @include font-lg;
      }
    }
    h4{
      @include font-lg;
    }
    span{
      text-decoration: line-through;
    }
  }
}